.text {
  color: black;
  gap: 2rem;
  display: flex;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: #fff;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 8px 10px -6px rgb(0 0 0 / 10%);

  padding: 1.5rem;
  border-radius: 0.5rem;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
}

.mySpan {
  background-color: #ffa31a;
  padding: 0.5rem;
  color: white;
  font-weight: lighter;
  white-space: nowrap;
}

.priceButton {
  border: none;
}

.titleText {
  color: black;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}

.category {
  color: black;
  background-color: #f3f3f3;
  padding: 0.2rem;
  font-size: small;
}

@media screen and (max-width: 769px) {
  .card {
    gap: 1.2rem;
    padding: 1rem;
  }

  .mySpan {
    padding: 0.3rem;
  }

  .titleText {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 425px) {
  .card {
    padding: 2rem;
  }
} ;
