.nav {
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: sticky;
  top: 0;
}

.logo {
  margin-left: 1.6rem;
}

.link {
  color: #000;
  cursor: pointer;
  font-weight: bold;
  margin-left: 0.7rem;
  font-size: 1.2rem;
  color: #000;
  font-family: "Noto Sans JP", sans-serif;
  text-decoration: none;
  padding-right: 1rem;
  display: flex;
  align-items: center;
}

.cartIcon {
  margin-left: 0.4rem;
  width: 1.5rem;
}

.link:hover {
  text-decoration: underline;
}
